<div class="contact_component">
  <div class="contact_left">
    <h1>Contact Us</h1>
    <div class="contact_info">
      <div class="contact_item">
        <h3>Visit Us</h3>
        <p>123 Brew Street</p>
        <p>Brew City, BC 123456</p>
      </div>

      <div class="contact_item">
      <h3>Opening Hours</h3>
        <p>Monday - Friday: 8:00 AM - 5:00 PM</p>
        <p>Saturday - Sunday: 8:30 AM - 4:00 PM</p>
      </div>

      <div class="contact_item">
        <h3>Get in Touch</h3>
        <p>Phone: (456) 1257-6389</p>
        <p>Email: info&#64;solarenergy.com</p>
      </div>
    </div>
  </div>

  <div class="contact_right">
    <form class="contact_form">
      <div class="form_group">
        <input type="text" placeholder="Your Name" required>
      </div>
      <div class="form_group">
        <input type="email" placeholder="Your Email" required>
      </div>
      <div class="form_group">
        <textarea rows="5" placeholder="Your Message ..." required></textarea>
      </div>
      <button type="submit">Send Message</button>
    </form>
  </div>
</div>
