.footer{
  background-color: #8CC431;
  color: #fff;
  text-align: center;
  padding: 4rem 2rem 2rem;
}

.footer-top{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  text-align: left;
  gap: 2rem;
}

.column{
  flex: 1 1 16rem;
  min-width: 15rem;
}

.column h3, .footer_section h3{
  font-size: 2.3rem;
  margin-bottom: 1rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #16381D;;
  text-align: center;
}

.column ul li {
  list-style: none;
  margin: 0.8rem 0;
  text-align: center;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
}

.column ul li a{
  text-decoration: none;
  color: #395214;
}

.content p, .footer_section p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #395214;
  word-spacing: 0.3rem;
  text-align: center;
}

.column ul li a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.newsletter{
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.newsletter input{
  flex: 1;
  padding: 1rem;
  font-size: 1.6rem;
  border: none;
  outline: 2px solid #192902;
  color: #dedede;
}

.newsletter input:focus{
  color: #172305;
}

.newsletter input::placeholder{
  color: #015f18;
}

.newsletter button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  background-color: #021068;
  color: #59dbf8;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.footer_bottom {
  margin-top: 4rem;
  padding: 2rem;
  text-align: center;
  border-top: 2px solid rgba(255, 255, 255, 0.29);
  width: 100%;
}

.footer_bottom p {
  font-size: 1.8rem;
  text-align: center;
  color: #2E4210;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}

.hr{
  display: none;
}

@media(max-width: 768px){

  .footer-top {
    flex-direction: column;
    text-align: center;
  }

  .column {
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-middle {
    flex-direction: column;
  }

  .hr{
    display: block;
    width: 50%;
    margin: 0 auto;
  }
}

