<footer class="footer">
  <div class="footer-top">
    <div class="column content">
      <h3>Solar World Energy</h3>
      <p>Solar panel energy is the process of converting sunlight into electricity using photovoltaic cells, providing a clean and renewable source of power.</p>
    </div>
    <hr class="hr">

    <div class="column">
      <h3>Our Pages</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <hr class="hr">
    <div class="footer_section">
      <h3>Newsletter</h3>
      <p>Newsletter for Daily updates and offers.</p>
      <div class="newsletter">
        <input type="email" placeholder="Enter your email">
        <button>Subscribe</button>
      </div>
    </div>

    <div class="footer_bottom">
      <p>&copy; 2025 Solar World. All rights reserved.</p>
    </div>

  </div>
</footer>
